<launch>

  <arg name="floor_filter" default="true"/>

  <include file="$(find pmb2_rgbd_sensors)/launch/base_structure_sensor.launch"/>
  <include file="$(find pmb2_rgbd_sensors)/launch/roof_structure_sensor.launch"/>
  <include file="$(find pmb2_rgbd_sensors)/launch/elp_rgb_nodelet.launch"/>

  <group if="$(arg floor_filter)">
    <include file="$(find pal_pcl)/launch/stockbot_floor_filter_xtion.launch"/>
    <include file="$(find pmb2_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud" default="floor_filter_xtion/filtered_cloud"/>
    </include>
  </group>
  <group unless="$(arg floor_filter)">
    <include file="$(find pmb2_laser_sensors)/launch/rgbd_cloud_laser.launch"/>
  </group>

</launch>
