<launch>

  <arg name="mapping" default="karto"/>

  <arg name="localization" default=""/>
  <arg name="map"          default=""/>

  <arg name="octomap" default="false"/>

  <!-- SLAM -->
  <include file="$(find pmb2_2dnav)/launch/mapping_$(arg mapping).launch"/>

  <!-- Exploration 
  <include file="$(find pal_exploration)/launch/exploration.launch"/> -->

  <!-- Octomap 
  <group if="$(arg octomap)">
    <include file="$(find pmb2_2dnav)/launch/mapping_octomap.launch"/>
  </group>-->

</launch>
